# {{login}}

**ID**: {{id}}
**Type**: {{type}}
{{#company}}**Company**: {{company}}
{{/company}}
{{#blog}}**Website**: {{blog}}
{{/blog}}
{{#location}}**Location**: {{location}}
{{/location}}
{{#bio}}{{{bio}}}
{{/bio}}
**Public Repos**: {{public_repos}}
**Followers**: {{followers}} | **Following**: {{following}}
**Profile**: {{html_url}}
